body{
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;
        height: 100vh;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
}
.calculator{
    position: relative;
    padding : 20px;
    height: auto;
    width : auto;
    background: #1a1a1a;
    border: none;
    border-radius: 30px;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  .calculator:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .calculator:hover:before, .calculator:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .calculator::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: 0%;
      left: 0%;
      animation: spin 2.5s linear infinite;
  }
  
  .calculator::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button{
    cursor: pointer;
    background: #333333;
    color: white;
    font-size: 30px;
    width: 70px;
    height: 70px;
    padding :16px 20px;
    border-radius: 35px;
    border: none;
    margin: 0 6px;
}
.row{
    display: flex;
    justify-content: center;
    margin: 6px 0;
}
.input-design{
    padding: 0 30px;
    text-align: end;
    font-size: 50px;
    color: white;
    pointer-events: none;
    width: 272px;
    height: 150px;
    border: none;
    border-radius: 19px;
    background: #313131;
    resize: none;
}
.btn-lightgrey{
    background: #a5a5a5;
    color: #000;
}
.del-btn{
    padding-left: 2px;
    padding-right: 0px;
}
.btn-mustered{
    background: rgb(246, 153, 6);
    font-size: 30px;
}
.btn-expand{
    padding: 16px 25px;
    width: 149px;
    text-align: start;
}
.btn-decimal{
    font-weight: bolder;
}